.modal-call
    .modal-call__block
        .modal-call__block__description
            .modal-call__block__description__text
                h3 Заказать звонок
                p Отправьте данные и наш сотрудник свяжется с Вами в ближайшее время.
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3438 3.46861L17.5311 0.65625L10.5 7.68764L3.46861 0.65625L0.65625 3.46861L7.68731 10.5L0.65625 17.5314L3.46861 20.3438L10.5 13.3124L17.5311 20.3438L20.3438 17.5314L13.312 10.5L20.3438 3.46861Z" fill="#696969"/></svg>
        .modal-call__block__form
            .main-page__feedback__form__text-input
                input(
                    placeholder='Ваш номер телефона'
                    type='text'
                )
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11.5" stroke="#6398DC"/><path d="M12.7109 14.7891H11.4062L11.3047 6.625H12.8203L12.7109 14.7891ZM11.25 17.2734C11.25 17.0391 11.3203 16.8438 11.4609 16.6875C11.6068 16.526 11.8203 16.4453 12.1016 16.4453C12.3828 16.4453 12.5964 16.526 12.7422 16.6875C12.888 16.8438 12.9609 17.0391 12.9609 17.2734C12.9609 17.5078 12.888 17.7031 12.7422 17.8594C12.5964 18.0104 12.3828 18.0859 12.1016 18.0859C11.8203 18.0859 11.6068 18.0104 11.4609 17.8594C11.3203 17.7031 11.25 17.5078 11.25 17.2734Z" fill="#6398DC"/></svg>
            .main-page__feedback__form__text-input
                input(
                    placeholder='Ваше имя'
                    type='text'
                )
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="11.5" stroke="#6398DC"/><path d="M12.7109 14.7891H11.4062L11.3047 6.625H12.8203L12.7109 14.7891ZM11.25 17.2734C11.25 17.0391 11.3203 16.8438 11.4609 16.6875C11.6068 16.526 11.8203 16.4453 12.1016 16.4453C12.3828 16.4453 12.5964 16.526 12.7422 16.6875C12.888 16.8438 12.9609 17.0391 12.9609 17.2734C12.9609 17.5078 12.888 17.7031 12.7422 17.8594C12.5964 18.0104 12.3828 18.0859 12.1016 18.0859C11.8203 18.0859 11.6068 18.0104 11.4609 17.8594C11.3203 17.7031 11.25 17.5078 11.25 17.2734Z" fill="#6398DC"/></svg>
            label.main-page__feedback__form__check-box
                input(
                    placeholder='Ваш номер телефона'
                    type='checkbox'
                    id='terms-of-use'
                )
                .check-box
                span.checkbox-text Нажимая кнопку “заказать”, Вы даёте согласие на обработку персональных данных
            .main-page__feedback__form__buttons
                a(href='#').transparent-button Заказать звонок