extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu
    .container
        .catalog-selected
            .catalog-selected__type-list.catalog-selected__type-list-active
                .catalog-selected__type-list__title
                    h2 Компрессорное оборудование
                    <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 0L17 12.75L29.75 0L34 4.25L17 21.25L0 4.25L4.25 0Z" fill="#6398DC"/></svg>
                .catalog-selected__type-list__menu
                    a(href='#') Промышленное холодильное фреоновое оборудование
                    a(href='#') Коммерческое холодильное оборудование
                    a(href='#') Тепловое и электротехническое оборудование
                    a(href='#') Оборудование для магазиностроения
                    a(href='#') Расходные материалы
                    a(href='#') Контроллеры и частотные преобразователи
                    a(href='#') Линейные компоненты
                    a(href='#') Стеллажные системы и нейтральное оборудование
            .catalog-selected__filters
                .catalog-selected__filters__list
                    a(href='#')
                        | Винтовые компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>
                    a(href='#')
                        | Поршневые компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>
                    a(href='#')
                        | Спиральные компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>

                .catalog-selected__filters__buttons
                    .catalog-selected__filters__buttons__simple.catalog-selected__filters__buttons__simple-active
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Бренд
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Режим работы
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Компрессор
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Хладагент
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__range
                        .catalog-selected__filters__buttons__range__wrapper
                            .catalog-selected__filters__buttons__range__wrapper__container
                                .catalog-selected__filters__buttons__range__wrapper__container__slider-track
                                input(
                                    type="range"
                                    min='0'
                                    max='1609000'
                                    value='0'
                                    id='slider-1'
                                    oninput='slideOne()'
                                )
                                input(
                                    type="range"
                                    min='0'
                                    max='1609000'
                                    value='1609000'
                                    id='slider-2'
                                    oninput='slideTwo()'
                                )
                            .catalog-selected__filters__buttons__range__wrapper__values
                                span#range1 0
                                span#range2 1609000
                        p ₽

            .catalog-selected__product-table
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
                .catalog-selected__product-table__unit
                    img(src='../../assets/img/catalog-selected1.png')
                    .catalog-selected__product-table__unit__body
                        p Компрессор полугерметичный Frascold W75-240Y
                        .catalog-selected__product-table__unit__body__button
                            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                    .catalog-selected__product-table__unit__price
                        p 566391.96 ₽
                        span 623031.156 ₽
            .catalog-selected__button
                a(href='#').color-button Смотреть ещё
    block content
        include ../includes/modules/footer



block scripts
    script(src="assets/scripts/main.js")