extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu
    .container
        .catalog-selected
            .catalog-selected__type-list.catalog-selected__type-list-active
                .catalog-selected__type-list__title
                    h2 Компрессорное оборудование
                    <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 0L17 12.75L29.75 0L34 4.25L17 21.25L0 4.25L4.25 0Z" fill="#6398DC"/></svg>
                .catalog-selected__type-list__menu
                    a(href='#') Промышленное холодильное фреоновое оборудование
                    a(href='#') Коммерческое холодильное оборудование
                    a(href='#') Тепловое и электротехническое оборудование
                    a(href='#') Оборудование для магазиностроения
                    a(href='#') Расходные материалы
                    a(href='#') Контроллеры и частотные преобразователи
                    a(href='#') Линейные компоненты
                    a(href='#') Стеллажные системы и нейтральное оборудование
            .catalog-selected__filters
                .catalog-selected__filters__list
                    a(href='#')
                        | Винтовые компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>
                    a(href='#')
                        | Поршневые компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>
                    a(href='#')
                        | Спиральные компрессоры
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.46489 9.72393L8.28546 2.84565L8.30641 7.81672L9.6344 7.81113L9.60391 0.57288L2.36566 0.603372L2.37126 1.93137L7.34233 1.91043L0.521756 8.78871L1.46489 9.72393Z" fill="#696969"/></svg>

                .catalog-selected__filters__buttons
                    .catalog-selected__filters__buttons__simple.catalog-selected__filters__buttons__simple-active
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Бренд
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Режим работы
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Компрессор
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__simple
                        .catalog-selected__filters__buttons__simple__title
                            a(href='#') Хладагент
                            a(href='#') +
                        .catalog-selected__filters__buttons__simple__list
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                            label.catalog-selected__filters__buttons__simple__list__check-box
                                input(
                                    type='checkbox'
                                )
                                .check-box
                                span.checkbox-text Frascold
                    .catalog-selected__filters__buttons__range
                        .catalog-selected__filters__buttons__range__wrapper
                            .catalog-selected__filters__buttons__range__wrapper__container
                                .catalog-selected__filters__buttons__range__wrapper__container__slider-track
                                input(
                                    type="range"
                                    min='0'
                                    max='1609000'
                                    value='0'
                                    id='slider-1'
                                    oninput='slideOne()'
                                )
                                input(
                                    type="range"
                                    min='0'
                                    max='1609000'
                                    value='1609000'
                                    id='slider-2'
                                    oninput='slideTwo()'
                                )
                            .catalog-selected__filters__buttons__range__wrapper__values
                                span#range1 0
                                span#range2 1609000
                        p ₽

            block content
                include  ../includes/modules/product-catalog
    block content
        include ../includes/modules/footer



block scripts
    script(src="assets/scripts/main.js")